.form-container {
    margin: 10px auto;
    padding: 10px;
    max-width: 1000px;
    border: 2px solid black;
}

.form-container input {
    padding: 7px;
}

.form-container textarea {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    resize: vertical;
}

.form-container button {
    padding: 5px;
}

.form-input-container {
    margin: 10px 0;
}
